* { 
    margin: 0; 
    padding: 0; 
    font-size:  1rem;
    font-weight: normal;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c0c0c0;
    font-weight: normal;
}